:root {
  --content-width: min(90%, 2200px);
}

@media (max-width: 900px) {
  :root { --content-width: calc(100% - 48px); }
}

@media (max-width: 580px) {
  :root { --content-width: calc(100% - 40px); }
}

.container {
  width: var(--content-width);
  margin-inline: auto;
}

.section {
  padding: 80px 0;
}
